---
layout: front
title: Aussiegeek
---

<div id="findme">
  <ul>
    <li><a href="http://twitter.com/aussiegeek">Twitter</a></li>
    <li><a href="http://www.flickr.com/photos/aussiegeek/">Flickr</a></li>
    <li><a href="http://www.goodreads.com/user/show/3858682-alan-harper">Goodreads</a></li>
    <li><a href="http://www.last.fm/user/aussiegeek">Last.fm</a></li>
    <li><a href="http://github.com/aussiegeek">GitHub<a></li>
</div>

<div id='recent'>
  <h2>Recent Posts</h2>
  <ol>
    {% for post in site.posts limit:10 %}
      <li><a href="{{ post.url }}">{{ post.title }}</a> <abbr>{{ post.date | date_to_string }}</abbr></li>
  {% endfor %}
  </ol>
</div>