<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
</head>
<body>

  <h1><a href="/">Aussiegeek</a></h1>
 
  <h2>{{page.title}}</h2>
  <div class="postdate">{{post.date}}</div>
  {{ content }}
  
</body>
</html>
 
